= form_for @message_blocker do |f|
  - if @message_blocker.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message_blocker.errors.count, "error")} prohibited this message_blocker from being saved:"
      %ul
        - @message_blocker.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :rule_name
    = f.text_field :rule_name
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :name_matcher
    = f.text_field :name_matcher
  .field
    = f.label :email_matcher
    = f.text_field :email_matcher
  .field
    = f.label :ip_matcher
    = f.text_field :ip_matcher
  .field
    = f.label :message_matcher
    = f.text_field :message_matcher
  .actions
    = f.submit 'Save'
