= form_for @honor do |f|
  - if @honor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@honor.errors.count, "error")} prohibited this honor from being saved:"
      %ul
        - @honor.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :time
    = f.datetime_select :time
  .field
    = f.label :granted_by
    = f.text_field :granted_by
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :person
    = f.select :person_id, Person.all.map {|person| [person.name, person.id]}
  .actions
    = f.submit 'Save'
