%h1 Editing honor

= render 'form'

= link_to 'Show', @honor
\|
= link_to 'Back', honors_path
= stylesheet_link_tag 'honors', media: 'all'
= stylesheet_link_tag 'scaffolds', media: 'all'
= javascript_include_tag 'honors', 'data-turbolinks-track': 'reload'
