%h1 Editing slide

= render 'form'

= link_to 'Show', @slide
\|
= link_to 'Back', slides_path

= javascript_include_tag 'slides', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'scaffolds', media: 'all'
= stylesheet_link_tag 'slides', media: 'all'
