= form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :profile_photo_url
    = f.text_field :profile_photo_url
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :company_or_school
    = f.text_field :company_or_school
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :linkedin_url
    = f.text_field :linkedin_url
  .field
    = f.label :github_url
    = f.text_field :github_url
  .field
    = f.label :facebook_url
    = f.text_field :facebook_url
  .field
    = f.label :google_plus_url
    = f.text_field :google_plus_url
  .field
    = f.label :wechat_barcode_url
    = f.text_field :wechat_barcode_url
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
