%h1 Editing person

= render 'form'

= link_to 'Show', @person
\|
= link_to 'Back', people_path
= stylesheet_link_tag 'people', media: 'all'
= stylesheet_link_tag 'scaffolds', media: 'all'
= javascript_include_tag 'people', 'data-turbolinks-track': 'reload'
