%h1 Listing people

%table
  %thead
    %tr
      %th Name
      %th Profile photo
      %th Title
      %th Company or school
      %th Email
      %th Address
      %th Linkedin url
      %th Github url
      %th Facebook url
      %th Google plus url
      %th Wechat qrcode
      %th Description
      %th
      %th
      %th

  %tbody
    - @people.each do |person|
      %tr
        %td= person.name
        %td= link_to person.profile_photo.to_s, person.profile_photo.to_s
        %td= person.title
        %td= person.company_or_school
        %td= person.email
        %td= person.address
        %td= link_to person.linkedin_url, person.linkedin_url
        %td= link_to person.github_url, person.github_url
        %td= link_to person.facebook_url, person.facebook_url
        %td= link_to person.google_plus_url, person.google_plus_url
        %td= link_to person.wechat_qrcode.to_s, person.wechat_qrcode.to_s
        %td= person.description
        %td= link_to 'Show', person
        %td= link_to 'Edit', edit_person_path(person)
        %td= link_to 'Destroy', person, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Person', new_person_path
= stylesheet_link_tag 'people', media: 'all'
= stylesheet_link_tag 'scaffolds', media: 'all'
= javascript_include_tag 'people', 'data-turbolinks-track': 'reload'
