%p#notice= notice

%p
  %b Name:
  = @person.name
%p
  %b Profile photo url:
  = @person.profile_photo_url
%p
  %b Title:
  = @person.title
%p
  %b Company or school:
  = @person.company_or_school
%p
  %b Email:
  = @person.email
%p
  %b Address:
  = @person.address
%p
  %b Linkedin url:
  = @person.linkedin_url
%p
  %b Github url:
  = @person.github_url
%p
  %b Facebook url:
  = @person.facebook_url
%p
  %b Google plus url:
  = @person.google_plus_url
%p
  %b Wechat barcode url:
  = @person.wechat_barcode_url
%p
  %b Description:
  = @person.description

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
