%p#notice= notice

%p
  %b Name:
  = @person.name
%p
  %b Profile photo:
  = link_to @person.profile_photo.to_s, @person.profile_photo.to_s if !@person.profile_photo.blank?
%p
  %b Title:
  = @person.title
%p
  %b Company or school:
  = @person.company_or_school
%p
  %b Email:
  = @person.email
%p
  %b Address:
  = @person.address
%p
  %b Linkedin url:
  = link_to @person.linkedin_url, @person.linkedin_url
%p
  %b Github url:
  = link_to @person.github_url, @person.github_url
%p
  %b Facebook url:
  = link_to @person.facebook_url, @person.facebook_url
%p
  %b Google plus url:
  = link_to @person.google_plus_url, @person.google_plus_url
%p
  %b Wechat qrcode:
  = link_to @person.wechat_qrcode.to_s, @person.wechat_qrcode.to_s if !@person.wechat_qrcode.blank?
%p
  %b Description:
  = @person.description

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
= stylesheet_link_tag 'people', media: 'all'
= stylesheet_link_tag 'scaffolds', media: 'all'
= javascript_include_tag 'people', 'data-turbolinks-track': 'reload'
