%h1 Listing publications

%table
  %thead
    %tr
      %th Name
      %th Time
      %th Description
      %th Person
      %th
      %th
      %th

  %tbody
    - @publications.each do |publication|
      %tr
        %td= publication.name
        %td= publication.time
        %td= publication.description
        %td= link_to publication.person.name, publication.person
        %td= link_to 'Show', publication
        %td= link_to 'Edit', edit_publication_path(publication)
        %td= link_to 'Destroy', publication, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Publication', new_publication_path
= stylesheet_link_tag 'publications', media: 'all'
= stylesheet_link_tag 'scaffolds', media: 'all'
= javascript_include_tag 'publications', 'data-turbolinks-track': 'reload'
