= form_for @job do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :company
    = f.text_field :company
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :start_time
    = f.datetime_select :start_time, start_year: 1900, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year', hour: 'Choose hour', minute: 'Choose minute'}
  .field
    = f.label :end_time
    = f.datetime_select :end_time, start_year: 1900, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year', hour: 'Choose hour', minute: 'Choose minute'}
  .field
    = f.label :photo
    = f.file_field :photo
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :person
    = f.select :person_id, Person.all.map {|person| [person.name, person.id]}
  .actions
    = f.submit 'Save'
