%h1 Listing jobs

%table
  %thead
    %tr
      %th Company
      %th Title
      %th Location
      %th Start time
      %th End time
      %th Description
      %th Person
      %th
      %th
      %th

  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.company
        %td= job.title
        %td= job.location
        %td= job.start_time
        %td= job.end_time
        %td= allow_line_break job.description
        %td= link_to job.person.name, job.person
        %td= link_to 'Show', job
        %td= link_to 'Edit', edit_job_path(job)
        %td= link_to 'Destroy', job, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Job', new_job_path
= javascript_include_tag 'jobs', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'scaffolds', media: 'all'
= stylesheet_link_tag 'jobs', media: 'all'
