%h1 New job

= render 'form'

= link_to 'Back', jobs_path
= javascript_include_tag 'jobs', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'scaffolds', media: 'all'
= stylesheet_link_tag 'jobs', media: 'all'
