%h1 Editing language

= render 'form'

= link_to 'Show', @language
\|
= link_to 'Back', languages_path
= stylesheet_link_tag 'languages', media: 'all'
= stylesheet_link_tag 'scaffolds', media: 'all'
= javascript_include_tag 'languages', 'data-turbolinks-track': 'reload'
