%p#notice= notice

%p
  %b Name:
  = @language.name
%p
  %b Proficiency:
  = @language.proficiency
%p
  %b Person:
  = @language.person

= link_to 'Edit', edit_language_path(@language)
\|
= link_to 'Back', languages_path
= stylesheet_link_tag 'languages', media: 'all'
= stylesheet_link_tag 'scaffolds', media: 'all'
= javascript_include_tag 'languages', 'data-turbolinks-track': 'reload'
