%h1 Listing skills

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Person
      %th
      %th
      %th

  %tbody
    - @skills.each do |skill|
      %tr
        %td= skill.name
        %td= skill.description
        %td= link_to skill.person.name, skill.person
        %td= link_to 'Show', skill
        %td= link_to 'Edit', edit_skill_path(skill)
        %td= link_to 'Destroy', skill, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Skill', new_skill_path
= javascript_include_tag 'skills', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'scaffolds', media: 'all'
= stylesheet_link_tag 'skills', media: 'all'
