%p#notice= notice

%p
  %b Name:
  = @skill.name
%p
  %b Description:
  = allow_line_break @skill.description
%p
  %b Person:
  = link_to @skill.person.name, @skill.person

= link_to 'Edit', edit_skill_path(@skill)
\|
= link_to 'Back', skills_path
= javascript_include_tag 'skills', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'scaffolds', media: 'all'
= stylesheet_link_tag 'skills', media: 'all'
