= content_for :head do
  = stylesheet_link_tag 'home', media: 'all'
  = stylesheet_link_tag 'wechat_qrcode_modal', media: 'all'
  -if Rails.env.production?
    = google_analytics

</script>

.container-fluid.background-img
  .background-inner
    %p.title.white Welcome to Zijiang Yang's home page!
    .operations
      %ul.list-inline
        -if !@person.linkedin_url.blank?
          %li
            %a{:href => @person.linkedin_url, :target => '_blank'}
              %img.icon{:src => image_path('linkedin_icon.png'), :title => "Linkedin profile", :alt => "linkedin"}
        -if !@person.github_url.blank?
          %li
            %a{:href => @person.github_url, :target => '_blank'}
              %img.icon{:src => image_path('github_icon.png'), :title => "Github profile", :alt => "github"}
        -if !@person.facebook_url.blank?
          %li
            %a{:href => @person.facebook_url, :target => '_blank'}
              %img.icon{:src => image_path('facebook_icon.png'), :title => "Facebook profile", :alt => "facebook"}
        -if !@person.google_plus_url.blank?
          %li
            %a{:href => @person.google_plus_url, :target => '_blank'}
              %img.icon{:src => image_path('google_plus_icon.png'), :title => "Google+ profile", :alt => "Google+"}
        -if !@person.wechat_qrcode.blank?
          %li
            %img.icon.clickable{:src => image_path('wechat_icon.png'), :title => "Wechat QRCode", :alt => "Wechat", 'data-toggle' => 'modal', 'data-target' => '#wechat_dialog'}
      %p.know-me-btn    
        %a.btn.btn-primary.btn-lg{:href => "/about", :role => "button"} Get to know me &raquo;

= render partial: 'shared/wechat_qrcode_modal', locals: {:qrcode_url => @person.wechat_qrcode.to_s, :id => 'wechat_dialog' }

