= form_for @interest do |f|
  - if @interest.errors.any?
    #error_explanation
      %h2= "#{pluralize(@interest.errors.count, "error")} prohibited this interest from being saved:"
      %ul
        - @interest.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :person
    = f.text_field :person
  .actions
    = f.submit 'Save'
