%p#notice= notice

%p
  %b Name:
  = @interest.name
%p
  %b Description:
  = @interest.description
%p
  %b Person:
  = @interest.person

= link_to 'Edit', edit_interest_path(@interest)
\|
= link_to 'Back', interests_path
= javascript_include_tag 'interests', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'scaffolds', media: 'all'
= stylesheet_link_tag 'interests', media: 'all'
