%h1 Editing project

= render 'form'

= link_to 'Show', @project
\|
= link_to 'Back', projects_path
= javascript_include_tag 'projects', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'scaffolds', media: 'all'
= stylesheet_link_tag 'projects', media: 'all'
