%h1 Listing projects

%table
  %thead
    %tr
      %th Name
      %th Start time
      %th End time
      %th Description
      %th Education
      %th Job
      %th
      %th
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.start_time
        %td= project.end_time
        %td= project.description
        %td= project.education
        %td= project.job
        %td= link_to 'Show', project
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Project', new_project_path
= javascript_include_tag 'projects', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'scaffolds', media: 'all'
= stylesheet_link_tag 'projects', media: 'all'
