%h1 Editing course

= render 'form'

= link_to 'Show', @course
\|
= link_to 'Back', courses_path
= javascript_include_tag 'courses', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'scaffolds', media: 'all'
= stylesheet_link_tag 'courses', media: 'all'
