%h1 Listing courses

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Education
      %th
      %th
      %th

  %tbody
    - @courses.each do |course|
      %tr
        %td= course.name
        %td= course.description
        %td= course.education
        %td= link_to 'Show', course
        %td= link_to 'Edit', edit_course_path(course)
        %td= link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Course', new_course_path
= javascript_include_tag 'courses', 'data-turbolinks-track': 'reload'
= stylesheet_link_tag 'scaffolds', media: 'all'
= stylesheet_link_tag 'courses', media: 'all'
