= content_for :head do
  = stylesheet_link_tag 'about', media: 'all'
  = javascript_include_tag 'about', 'data-turbolinks-track': 'reload'

- if @slides.length > 0
  .carousel.slide#head-slides{'data-ride' => 'carousel'}
    %ol.carousel-indicators
      - @slides.length.times do |i|
        %li{:class => ('active' if i==0), 'data-target' => '#head-slides', 'data-slide-to' => i}
    .carousel-inner{:role => 'listbox'}
      - @slides.length.times do |i|
        .item{:class => ('active' if i==0)}
          - if !@slides[i].background.blank?
            .img{:style => "background: url(#{@slides[i].background.to_s}); background-size: contain; background-repeat: no-repeat; background-position: center;"}
          .container
            .carousel-caption
              %h1= @slides[i].title
              - if !@slides[i].content.blank?
                %p= allow_line_break @slides[i].content
    %a.left.carousel-control{:href => '#head-slides', :role => 'button', 'data-slide' => 'prev'}
      %span.glyphicon.glyphicon-chevron-left{'aria-hidden' => true}
      %span.sr-only Previous
    %a.right.carousel-control{:href => '#head-slides', :role => 'button', 'data-slide' => 'next'}
      %span.glyphicon.glyphicon-chevron-right{'aria-hidden' => true}
      %span.sr-only Next


.container-fluid
  .bottom-padding#introduction-section
    - section_num = 1
    .row.top-buffer
      .col-md-10.col-md-offset-2
        %h1.section-title Who am I?
    .row.top-buffer
      .col-md-3.col-md-offset-1.col-xs-4
        %img#profile-photo.img-circle.horizontal-center{:src => @person.profile_photo, :alt => 'Profile photo', :title => 'Profile photo'}
        #person-basic-info
          %h2= @person.name
          .gray
            %p
              = @person.title 
              %em @ 
              = @person.company_or_school
            -if !@person.email.blank?
              %p    
                %a{:href => "mailto:#{@person.email}"}= @person.email
            -if !@person.address.blank?
              %p
                = @person.address
      -if !@person.description.blank?
        .col-md-7.col-xs-8
          %p#person-description.lead= allow_line_break @person.description
  -if @person.skills.length + @person.interests.length + @person.languages.length > 0
    - section_num += 1
    .top-border.bottom-padding#skill-section
      .row.top-buffer
        - if section_num%2 == 0
          .col-md-10
            %h1.section-title.float-right What can I do?
        - else
          .col-md-10.col-md-offset-2
            %h1.section-title What can I do?
      -if @person.skills.length > 0
        .row.top-buffer
          .col-md-10.col-md-offset-1
            %p.section-subtitle   
              %i.fa.fa-wrench{'aria-hidden' => true}
              My Skills
            - @person.skills.each do |skill|
              .col-md-4.col-xs-6
                .skill-border
                  %span.skill-text= skill.name
                  -if !skill.description.blank?
                    %i.fa.fa-angle-double-right.popover-icon.float-right.clickable{'aria-hidden' => true, 'data-toggle' => 'popover', 'data-placement' => 'top', :title => 'Details', 'data-content' => common_description_tag(skill.description) }
      -if @person.interests.length > 0
        .row.top-buffer
          .col-md-10.col-md-offset-1
            %p.section-subtitle
              %i.fa.fa-futbol-o{'aria-hidden' => true}
              My Interests
            -@person.interests.each do |interest|
              .col-md-4.col-xs-6
                .interest-border
                  %span.interest-text= interest.name
                  -if !interest.description.blank?
                    %i.fa.fa-angle-double-right.popover-icon.float-right.clickable{'aria-hidden' => true, 'data-toggle' => 'popover', 'data-placement' => 'top', :title => 'Details', 'data-content' => common_description_tag(interest.description) }
      -if @person.languages.length > 0
        .row.top-buffer
          .col-md-10.col-md-offset-1
            %p.section-subtitle
              %i.fa.fa-language{'aria-hidden' => true}
              Languages I Know
            -@person.languages.each do |language|
              .col-md-4.col-xs-6
                .language-border
                  %span.language-name= language.name
                  -if !language.proficiency.blank?
                    %span.label.label-info.language-proficiency.clickable{'aria-hidden' => true, 'data-toggle' => 'popover', 'data-placement' => 'top', :title => 'Language Proficiency', 'data-content' => common_description_tag(language.proficiency)}= language.proficiency
  -if @person.educations.length > 0
    - section_num += 1
    .top-border#education-section
      .row.top-buffer
        - if section_num%2 == 0
          .col-md-10
            %h1.section-title.float-right Where do I learn?
        - else
          .col-md-10.col-md-offset-2
            %h1.section-title Where do I learn?
      - @person.educations.each do |education| 
        .row.top-buffer.bottom-padding
          .col-xs-3.col-md-offset-1
            %img.education-img.horizontal-center{:src => education.photo.to_s, :alt => education.school, :title => education.school}
          .col-md-7.col-xs-9
            %p.section-subtitle= education.school
            .row.gray
              -if !education.location.blank?
                .col-xs-6
                  %p.education-location= education.location
              .col-xs-6
                %p
                  %small.education-time= time_range education.start_time, education.end_time
            -if !education.description.blank?
              %p.education-description= education.description
            %table.education-table
              %tr
                %td.table-legend DEGREE
                %td.table-content= education.degree
              %tr
                %td.table-legend MAJOR
                %td.table-content= education.major
              -if !education.GPA.blank?
                %tr
                  %td.table-legend GPA
                  %td.table-content= gpa education.GPA, education.GPA_scale
              -if education.courses.length > 0
                %tr
                  %td.table-legend COURSES
                  %td.table-content
                    %small.link.expand-link{:id => "education_course-expand-#{education.id}"}= "Click to view all #{education.courses.length} courses"
                    %ul.list-unstyled{:hidden => true, :id => "education_course-content-#{education.id}"}
                      %li
                        %small.link.hide-link{:id=> "education_course-hide-#{education.id}"} Click to hide courses
                      - education.courses.each do |course|
                        %li.course-item.border-link{:class => ('disabled' if course.description.blank?), 'aria-hidden' => true, 'data-toggle' => ('popover' if !course.description.blank?), 'data-placement' => 'top', :title => ('Course Detail' if !course.description.blank?), 'data-content' => course.description}
                          %span= course.name  
              -if education.projects.length > 0
                %tr
                  %td.table-legend PROJECTS
                  %td.table-content
                    %small.link.expand-link{:id => "education_project-expand-#{education.id}"}= "Click to view all #{education.projects.length} projects"
                    %ul.list-unstyled{:hidden => true, :id => "education_project-content-#{education.id}"}
                      %li
                        %small.link.hide-link{:id=> "education_project-hide-#{education.id}"} Click to hide projects
                      - education.projects.each do |project|
                        %li.project-item.border-link{'aria-hidden' => true, 'data-toggle' => 'popover', 'data-placement' => 'top', :title => 'Project Detail', 'data-content' => project_detail_tag(project)}
                          %span= project.name 
  -if @person.jobs.length > 0
    - section_num += 1
    .top-border#job-section
      .row.top-buffer
        - if section_num%2 == 0
          .col-md-10
            %h1.section-title.float-right Where do I work?
        - else
          .col-md-10.col-md-offset-2
            %h1.section-title Where do I work?
      - @person.jobs.each do |job|
        .row.top-buffer.bottom-padding
          .col-xs-3.col-md-offset-1
            %img.job-img.horizontal-center{:src => job.photo.to_s, :alt => job.company, :title => job.company}
          .col-md-7.col-xs-9
            %p.section-subtitle= job.company
            %p.job-title= job.title
            .row.gray
              -if !job.location.blank?
                .col-xs-6
                  %p.job-location= job.location
              .col-xs-6
                %p
                  %small.job-time= time_range job.start_time, job.end_time
            -if !job.description.blank?
              - lines = split_line(job.description)
              - if lines.length == 1
                %p.job-description= lines[0]
              - else
                %ul.non-indent-list
                  - lines.each do |line|
                    %li
                      %p.job-description= line
            -if job.projects.length > 0
              %p.link.expand-link{:id => "job_project-expand-#{job.id}"}= "Click to view all #{job.projects.length} projects in #{job.company}"
              %div{:hidden => true, :id => "job_project-content-#{job.id}"} 
                %p.link.hide-link{:id => "job_project-hide-#{job.id}"} Click to hide projects
                %p.job-project-section-title= "Projects at #{job.company}"
                .row.job-project-section
                  - job.projects.each do |project|
                    .col-md-6
                      .project-item.border-link{'aria-hidden' => true, 'data-toggle' => 'popover', 'data-placement' => 'top', :title => 'Project Detail', 'data-content' => project_detail_tag(project)}
                        %span= project.name
  -if @person.honors.length > 0
    - section_num += 1
    .top-border.bottom-padding#honor-section
      .row.top-buffer
        - if section_num%2 == 0
          .col-md-10
            %h1.section-title.float-right What am I proud of?
        - else
          .col-md-10.col-md-offset-2
            %h1.section-title What am I proud of?
      - @person.honors.each do |honor|
        .row.top-buffer
          .col-md-10.col-md-offset-1
            %p.honor-name= honor.name
            %p
              %small.gray.italic granted by
              %scan.honor-granted-by= honor.granted_by
            .row.gray
              - if !honor.location.blank?
                .col-xs-6
                  %p.honor-location= honor.location
              .col-xs-6
                %small.honor-time= time honor.time
            - lines = split_line honor.description
            - if lines.length > 1
              %ul.non-indent-list
                - lines.each do |line|
                  %li
                    %p.honor-description= line
            - else
              %p.honor-description= lines[0]
  -if @person.publications.length > 0
    - section_num += 1
    .top-border.bottom-padding#publication-section
      .row.top-buffer
        - if section_num%2 == 0
          .col-md-10
            %h1.section-title.float-right What have I published?
        - else
          .col-md-10.col-md-offset-2
            %h1.section-title What have I published?
      - @person.publications.each do |publication|
        .row.top-buffer
          .col-md-10.col-md-offset-1
            %p.publication-name= publication.name
            %p.gray
              %small.publication-time= time publication.time
            - lines = split_line publication.description
            - if lines.length > 1
              %ul.non-indent-list
                - lines.each do |line|
                  %li
                    %p.publication-description= line
            - else
              %p.publication-description= lines[0]


