= content_for :head do
  = stylesheet_link_tag 'contact', media: 'all'
  = javascript_include_tag 'contact', 'data-turbolinks-track': 'reload'
  -if Rails.env.production?
    = google_analytics
    = recaptcha_script
.container-fluid
  .row.top-buffer
    .col-sm-offset-3.col-lg-offset-4.col-sm-9.col-lg-8
      %p.title= "Get in touch with #{@person.name}"
  = form_tag '/contact', :method => 'post', :class => 'form-horizontal' do
    .form-group.row.top-buffer
      %label.col-sm-3.col-lg-4.control-label{:for => 'inputName'} 
        Your Name
        %i.fa.fa-asterisk{'aria-hidden' => true}
      .col-xs-12.col-sm-6.col-lg-4
        %input.form-control#inputName{:type => 'text', :placeholder => 'Name', :name => 'name', :required => true}
    .form-group.row.top-buffer
      %label.col-sm-3.col-lg-4.control-label{:for => 'inputEmail'} 
        Your Email
        %i.fa.fa-asterisk{'aria-hidden' => true} 
      .col-xs-12.col-sm-6.col-lg-4
        %input.form-control#inputEmail{:type => 'email', :placeholder => 'Email', :name => 'email', :required => true}
    .form-group.row.top-buffer
      %label.col-sm-3.col-lg-4.control-label{:for => 'inputMessage'} 
        Message to Send
        %i.fa.fa-asterisk{'aria-hidden' => true}
      .col-xs-12.col-sm-6.col-lg-4
        %textarea.form-control#inputMessage{:placeholder => 'Type your message here', :name => 'message', :required => true}
    -if Rails.env.production?
      .form-group.row.top-buffer
        .col-sm-offset-3.col-lg-offset-4.col-sm-4.col-xs-12
          .g-recaptcha{'data-sitekey' => '6LfbHqMUAAAAAGyGl9PISqhaA-i92fSBKZb7pIHd'}
    .form-group.row.top-buffer
      .col-sm-offset-3.col-lg-offset-4.col-sm-4.col-xs-12
        %button.btn.btn-primary{:type => 'submit'} Send Message
