= form_for @education do |f|
  - if @education.errors.any?
    #error_explanation
      %h2= "#{pluralize(@education.errors.count, "error")} prohibited this education from being saved:"
      %ul
        - @education.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :school
    = f.text_field :school
  .field
    = f.label :degree
    = f.text_field :degree
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :start_time
    = f.datetime_select :start_time, start_year: 1900, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year', hour: 'Choose hour', minute: 'Choose minute'}
  .field
    = f.label :end_time
    = f.datetime_select :end_time, start_year: 1900, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year', hour: 'Choose hour', minute: 'Choose minute'}
  .field
    = f.label :GPA
    = f.text_field :GPA
  .field
    = f.label :GPA_scale
    = f.text_field :GPA_scale
  .field
    = f.label :photo
    = f.file_field :photo
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :person
    = f.select :person_id, Person.all.map {|person| [person.name, person.id]}
  .actions
    = f.submit 'Save'
