%h1 Listing educations

%table
  %thead
    %tr
      %th School
      %th Degree
      %th Location
      %th Start time
      %th End time
      %th Gpa
      %th Gpa scale
      %th Description
      %th Person
      %th
      %th
      %th

  %tbody
    - @educations.each do |education|
      %tr
        %td= education.school
        %td= education.degree
        %td= education.location
        %td= education.start_time
        %td= education.end_time
        %td= education.GPA
        %td= education.GPA_scale
        %td= education.description
        %td= link_to education.person.name, education.person
        %td= link_to 'Show', education
        %td= link_to 'Edit', edit_education_path(education)
        %td= link_to 'Destroy', education, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Education', new_education_path
= stylesheet_link_tag 'educations', media: 'all'
= stylesheet_link_tag 'scaffolds', media: 'all'
= javascript_include_tag 'educations', 'data-turbolinks-track': 'reload'
