%p#notice= notice

%p
  %b School:
  = @education.school
%p
  %b Degree:
  = @education.degree
%p
  %b Location:
  = @education.location
%p
  %b Start time:
  = @education.start_time
%p
  %b End time:
  = @education.end_time
%p
  %b Gpa:
  = @education.GPA
%p
  %b Gpa scale:
  = @education.GPA_scale
%p
  %b Description:
  = @education.description
%p
  %b Person:
  = link_to @education.person.name, @education.person

= link_to 'Edit', edit_education_path(@education)
\|
= link_to 'Back', educations_path
= stylesheet_link_tag 'educations', media: 'all'
= stylesheet_link_tag 'scaffolds', media: 'all'
= javascript_include_tag 'educations', 'data-turbolinks-track': 'reload'
